.container{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loading{
        border: 4px solid rgba(255,255,255,.6); /* Light grey */
        border-top: 4px solid #fff; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}

.displayNone{
    display: none;
}